/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
body{
  justify-content: center;
  text-align: center;
  background-image: url("src/assets/hinh-nen-dan-guitar-23.jpg");

}
.total{
  display: flex;
  justify-content: center;
}
